Python>=3.9

PyQt6>=6.5.x

OS:

Windows
Windows 10 (1809 or later) (x64)
Windows 11 (x64 and Arm)
-------------------------------------------------------------
Apple
macOS 10.5 or later (64bit Intel, 64bit ARM; XCode 12 or later)
-------------------------------------------------------------
Linux
Ubuntu 22.04 (x86_64, gcc 11)
Ubuntu 24.04 (x86_64, arm64, gcc 13)
OpenSuse 15.5 (x86_64, gcc 9 to 12)
SLES 15 SP5 (Linux Enterprise Server 15, x86_64, gcc10)
Red Hat 8.6 and 8.8 (x86_64, gcc 10)
Red Hat 9.2 (x86_64, gcc 11)
Debian 11.6  (x86_64, arm64, gcc 10)